@import '../../styles/partials/_colors.scss';

.FindProBtn  {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-right: 7px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
  border: 2px solid $blue;
  border-radius: 3px;
  color: $blue;
  background-color: transparent;
}

@media (min-width: 435px) {
  .FindProBtn {
    margin-right: 23px;
  }
}

@media (min-width: 885px) {
  .FindProBtn {
    border: 1px solid $blue;
    margin-right: 43px;
    padding: 11px;
  }

  .FindProBtn span {
    display: none;
  }

  .FindProBtn:after {
    content: 'Find a Pool Pro';
  }
}

.FindProBtn__location-icon {
  height: 19px;
  width: 14px;
  margin-right: 5px;
  margin-bottom: 3px;
}

@media (max-width: 332px) {
  .FindProBtn {
    padding: 9px 10px;
  }

  .FindProBtn__location-icon {
    display: none;
  }
}


@media (min-width: 885px) {
  .FindProBtn__location-icon {
    margin-right: 3px;
  }
}