.Container { // Temporary
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.Card {
    height: 465px;
    width: 300px;
    border: .5px solid #eee;
    border-radius: 2px;
    box-shadow: 0 3px 7px #bbb;
    background-color: #FFF;
}

// @media (min-width: 350px) {
//     .Card {
//       width: 350px;
//     }
//   }

//   @media (min-width: 835px) {
//     .Card {
//       margin: 7px 7px;
//       border-radius: 7px;
//     }
//   }

.Card header {
    padding: 33px;
    margin: 0 17px;
    font-size: 27px;
    font-weight: 100;
    color: #444;
    border-bottom: 2px solid #eee;
}