@import '../../styles/partials/_colors';

.Header {
  height: 150px;
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24292e;
  color: $blue;
}

.Header-title {
  font-size: 2.3em;
}